/*
*     custom css written by johns gresham
*/
body, html {
    height: 100%}
div {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, 'Source Sans Pro', sans-serif;
}
* {
    border: none;
}
.row {
    clear: both;
    margin: 0 auto;
    width: 75%;
    overflow: hidden;
    padding-top: 6em;
    padding-bottom: 6em;
}
.size-12 {
    max-width: 90%}
.column {
    width: 80%;
    min-height: 40%;
    display: inline;
}
.section.content {
    background-size: 100% 100%;
    font-size: 2em;
    padding-top: 2em;
}
/*
*       HERO
*/  
#home {
    min-height: 100%;
    padding: 0;
    background-image: url(../images/ohio-stadium-night-filter4.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.section {
    margin: 0;
    clear: both;
}
.container {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    clear: both;
}
.pink-script {
    font-family: Playball, cursive;
    font-size: 8rem;
    color: #FFA4BD;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
    line-height: 95%;
}
.pink-script-area {
    padding-top: 8em;
}
.button {
    color: #FFA4BD;
    border-width: .1em;
    border-style: solid;
    background-color: transparent;
    border-color: rgba(255, 164, 189, .5);
    transition: all .5s;
}
#hero-shirt-button {
    margin-top: 4em;
    font-size: 1.2em;
    padding: .25em .75em;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;
    letter-spacing: .07em;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
}
#hero-shirt-button:hover, #hero-shirt-button:target {
    border-color: #FFA4BD;
}
#hero-logo {
    max-width: 4em;
    max-height: 15%;
    padding-right: 3em;
    display: inline-block;
    vertical-align: middle;
}
.date {
    font-family: Playball, cursive;
    /*font-family: Montserrat, sans-serif;*/
    font-size: 4em;
    color: #f6f7f7;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}
#next-section {
    width: 2em;
    position: absolute;
    bottom: 3em;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
}
#october {
    color: #FFA4BD;
}
#logo-date-wrapper {
    margin: 0 auto;
    min-width: 50%;
    padding-top: 5em;
}
#hero-shirt-button-wrapper {
    margin: 0 auto;
}
#RvsO {
    display: block;
    margin: 0 auto;
    width: 15em;
}
/*
*       EVENTS
*/
#events {
    background-color: #f6f7f7;
}
.upcoming-event {
    display: block;
    text-align: center;
    font-size: 1.7em;
    padding: 0.2em;
    color: #FFA4BD;
}
/*
*       T-SHIRTS
*/
#t-shirts {
    background-image: url(../images/script-pink-overlay1.jpg);
    background-size: 100% 100%;
    padding-bottom: 3em;
}
.shirt {
    background-image: url(../images/2014-shirt.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 11em;
    width: 18em;
    display: block;
    margin: 0 auto 4em;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, .9);
}
#get-your-shirt {
    color: #f6f7f7;
    text-align: center;
    padding-bottom: 2em;
    font-weight: 400;
}
#shirt-button {
    padding: .25em .75em;
    margin-top: 3em;
    border-radius: .6em;
    font-weight: 200;
    font-size: .8em;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    display: block;
    border: none;
}
#square-order-button {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 1em;
}
#square-order-button a {
    font-size: 20px !important;
}
#sales-map {
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 1em;
    min-height: 11em;
}
#inperson-sales {
    color: white;
    padding-top: 2em;
}
#donate-info {
    font-size: 0.8em;
}
.island {
    width: 90%;
    overflow: hidden;
    margin: 0 auto 1em;
    text-align: center;
    vertical-align: center;
    display: block;
}
.island-container {
    max-width: 90%;
    margin: 0 auto;
}
.island-container a:link {
    color: #fff;
    border-color: rgba(255, 255, 255, .5);
}
.island-container a:hover {
    border-color: rgba(255, 255, 255, 1);
}
.island-container a:visited {
    color: #fff;
    border-color: rgba(255, 255, 255, .5);
}
.island-container a:target {
    color: #fff;
    border-color: rgba(255, 255, 255, 1);
}
.island .left {
    border: none;
    pointer-events: none;
}
.twitter-timeline {
    clear: both;
    display: block;
    margin: 0 auto;
    padding-top: 4em;
    width: 80% !important;
}
/*
*       CANCER INFO
*/
#cancer {
    background-image: url(../images/light_wool.png);
    background-repeat: repeat;
    background-size: initial;
    -moz-box-shadow: 0 .2em .7em #888;
    -webkit-box-shadow: 0 .2em .7em #888;
    box-shadow: 0 .2em .5em #888;
    padding-bottom: 3em;
}
#cancer .row {
    padding-top: 4em;
    padding-bottom: 4em;
}
.cancer-circle {
    width: 10em;
    height: 10em;
    border-radius: 5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    box-shadow: 0 0 .9em #FFA4BD;
    display: inline-block;
}
.cancer-info {
    text-align: left;
    width: 60%;
    line-height: 1.5em;
    vertical-align: middle;
    padding-top: 3.5em;
    color: #FFA4BD;
    font-weight: 300;
}
.cancer-circle-right {
    float: right;
    margin-right: 2em;
}
.cancer-info-left {
    float: left;
    margin-left: 1em;
}
.cancer-circle-left {
    float: left;
    margin-left: 1em;
}
.cancer-info-right {
    float: right;
}
#cancer-eight-women {
    background-image: url(../images/eight.png);
    background-size: contain;
}
#cancer-pink-blue-ribbon {
    background-image: url(../images/pink-blue-ribbon.png);
    background-size: contain;
}
#cancer-tree {
    background-image: url(../images/tree2.jpg);
    background-size: contain;
}
/*
*       ABOUT
*/
#about {
    background-color: #f6f7f7;
    text-align: center;
    overflow: hidden;
}
.about-circle {
    width: 18em;
    height: 18em;
    border-radius: 9em;
    background-image: url(../images/leaders-at-union.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    margin: 0 auto;
    background-color: #FFA4BD;
    box-shadow: 0 13px 25px -5px rgba(0, 0, 0, .9);
    max-width: 90%;
}
.about-info {
    color: #858585;
    display: block;
    font-weight: 300;
    font-size: 1.2em;
}
#about #row2 {
    padding-top: 0;
}
#about-pink-text {
    color: #FFA4BD;
}
/*
*       CHARITIES
*/
#charities {
    text-align: center;
    overflow: hidden;
    padding-bottom: 3em;
    position: relative;
    background-color: #fff;
}
#charities .row {
    padding-top: 4em;
}
/*#charities:nth-child(2), #charities:nth-child(3) {
    padding-top: 1em;
}*/
.charities-info {
    display: block;
    text-align: center;
    color: #858585;
    margin-bottom: 5em;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: .5px;
}
.charities-info span {
    vertical-align: middle;
}
.custom-100 {
    font-size: 1.3em;
    font-weight: 300;
    color: #FFA4BD;
}
.charities-circle {
    width: 12em;
    height: 12em;
    border-radius: 6em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid;
    border-color: rgba(255, 164, 189, .5);
    margin-bottom: 1em;
}
.charities-circle:hover {
    border-color: rgba(255, 164, 189, 1);
    transition: all .3s;
}
.spielman {
    margin-left: 2em;
    float: left;
    background-image: url(../images/StefanieSpielmanFundLogo.jpg);
}
.komen {
    margin-right: 2em;
    float: right;
    background-image: url(../images/sgk-logo_top.png);
    background-position: -1em 2em;
}
.block-o-ribbon {
    width: 4em;
    height: 4em;
    display: block;
    border-radius: 2em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 .05em .4em #FFA4BD inset;
    background-image: url(../images/bigRibbonTranspBackgLow.png);
    margin: 0 auto;
}
/*
*       PICTURES
*/
#pictures {
    /*background-image: url(../images/pink-polygon-edit.jpg);*/
    background-color: #FFA4BD;
    background-size: cover;
}
.image-gallery {
    display: block;
    width: 80%;
    margin: 6em auto;
    -moz-box-shadow: 0 0 17px #282828;
    -webkit-box-shadow: 0 0 17px #282828;
    box-shadow: 0 0 17px #282828;
}
#gallery {
    width: 80%;
    margin: 0 auto;
}
#go-pink {

}
#pretty-in-pink {
    width: 60%;
}
#tentv {

}
#block-o-pink {

}
/*
*       SOCIAL
*/
#social {
    background-image: url(../images/agsquare-darker.png);
    background-size: initial;
    background-repeat: repeat;
    text-align: center;
}
#social .row {
    padding-top: 4em;
}
#follow-us {
    display: block;
    color: #FFA4BD;
    padding-bottom: 1.7em;
    font-size: 3em;
    font-weight: 300;
}
.social-image {
    display: inline-block;
    width: 3em;
    height: 3em;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border: 3px #FFA4BD;
    background-color: #FFA4BD;
}
/*
*       FOOTER
*/
#footer {
    width: 100%;
    background-color: #2B2B2B;
    text-align: center;
    color: #7A7A7A;
    font-size: 1em;
}
#footer .container {
    padding-top: 1em;
    padding-bottom: 2em;
}
.footer-row {
    display: block;
    padding: 1em 0;
}
.footer-link {
    padding: .5em 1em;
    border-radius: 1em;
    color: #7A7A7A;
    border: 1px solid #7A7A7A;
    cursor: pointer;
    margin: 0 auto;
    transition: all .5s;
    text-decoration: none;
    display: block;
}
.footer-text {
    font-size: 1em;
}
.slide-out {
    display: none;
    padding-top: 2em;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: .01em;
    font-family: 'Source Sans Pro';
    color: #FFA4BD;
}
.footer-button-wrapper {
    display: inline-block;
    margin: 0 auto;
}
.slide-out-leaders {
    margin-bottom: 1em;
    margin-top: 2em;
}
.slide-out-share {
    margin-bottom: 2em;
    margin-top: 1em;
}
.leader-email {
    color: #7A7A7A;
    border: none;
}
.footer-text {
    font-family: Montserrat, sans-serif;
    padding-left: .2em;
}
.footer-link:hover {
    color: #FFA4BD;
    border: 1px solid #FFA4BD;
}
.footer-link:active {
    color: #fff;
    border: 1px solid #fff;
}
.slide-out a {
    color: #7A7A7A;
    border: none;
    text-decoration: none;
}
.slide-out a:hover {
    color: #FFA4BD;
}
.slide-out a:active {
    color: #fff;
}
.popout-social {
    display: block;
}
:focus {
    outline: 0;
}