/*
    responsive css written by johns gresham
*/

/* 
    horizontal media queries 
*/

@media only screen and (max-width:1430px) {
    .containter, .row {
    width: 90%
	}
}
@media only screen and (max-width:1230px) {
    .cancer-circle, .cancer-info {
        float: none;
        margin: 0 auto;
        display: block;
    }
    .cancer-info {
        width: 80%;
    }
}
@media screen and (max-width:1140px) {
    .containter, .row {
         width: 95%
    }
    .charities-circle {
        width: 10em;
        height: 10em;
        border-radius: 5em;
        }
    #shirt-button {
        display: block;
        float: none;
        margin: 2em auto;
    }
}
@media screen and (max-width:980px) {
    .social-image {
        margin-left: .2em;
        margin-right: .2em;
    	}
    .pink-script {
        font-family: Playball, cursive;
        font-size: 9.7em;
        color: #FFA4BD;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 200;
        line-height: 95%
    }
    .pink-script-area {
        padding-top: 8em;
    }
    #hero-shirt-button {
        margin-top: 1em;
        font-size: 1.5em;
    }
    #gallery {
        width: 100%;
    }
    #hero-logo {
        max-width: 5em;
    }
    .footer-text {
        font-size: 2em;
    }
    .image-gallery {
        margin: 12em auto;
        width: 95%;
    }
    .twitter-timeline {
        width: 90%;
    }
    #go-pink {
        margin-top: 6em;
    }
    #block-o-pink {
        margin-bottom: 6em;
    }
    #pretty-in-pink {
        width: 65%;
        margin: 10em auto;
    }
}
@media screen and (max-width:960px) {
    .charities-circle {
        width: 10em;
        height: 10em;
        border-radius: 5em;
    }
    #shirt-button {
        display: block;
        float: none;
        margin: 2em auto;
        font-size: 1.6em;
    }
}
@media screen and (max-width:820px) {
    .charities-circle {
    width: 8em;
    height: 8em;
    border-radius: 4em;
    }
    .about-circle {
        width: 12em;
        height: 12em;
        border-radius: 6em;
    }
    .komen {
        background-position: -.5em 1.5em;
    }
}
@media screen and (max-width:720px) {
    body {
        font-size: 1.3em;
    }
    .charities-circle {
        float: none;
        display: block;
        margin: 0 auto;
    	}
	.spielman {
	    margin-top: 3em;
	}
	#home {
	    height: 80%}
	.slide-out {
	    display: none;
	    padding-top: 2em;
	    font-size: 1em;
	    line-height: 1.5em;
	}
}
@media screen and (max-width:640px) {
	.about-circle {
	    width: 9em;
	    height: 9em;
	    border-radius: 5em;
    }
}

/* 
    vertical media queries 
*/
@media screen and (max-height:660px) {
    #home {
        height: 660px;
    }
    #next-section {
        display: none;
    }
}
















